---
import Layout from '../layouts/Layout.astro';
import imagenNosotros from "../img/nosotros.jpg"

---

<Layout title="Nosotros" description="Tienda de instrumentos musicales, cursos, blog de musica, guitarras">
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>

		<div class="contenido">
			<img src={imagenNosotros} alt="Imagen de nosotros">

			<div>
				<p>
					Morbi volutpat nunc at lacus laoreet mollis. Donec sagittis cursus urna, eget malesuada leo tincidunt non. Aliquam in massa porttitor, fringilla ipsum a, porttitor nibh. In hac habitasse platea dictumst. Ut mi ipsum, dictum a euismod eget, ultricies sit amet felis. Duis in ipsum mi. Quisque suscipit mi eu sollicitudin euismod. Ut dolor ante, lacinia ut velit non, aliquet lobortis purus. Integer in eros nibh.
				</p>
				<p>
					Aliquam justo lorem, lacinia nec augue in, porttitor auctor tellus. Nullam eu sagittis metus. Aenean dolor lectus, pretium vel consectetur id, faucibus id arcu. Nunc vel ex ac massa iaculis porttitor. Curabitur vel orci nec mauris tempor auctor. Aliquam at pellentesque felis. Aliquam egestas aliquam diam eu mattis. Vivamus luctus risus est, et dapibus justo pharetra sed. Phasellus facilisis porttitor justo, a rhoncus purus dictum molestie. Mauris congue justo ac odio iaculis accumsan.
				</p>
			</div>
		</div>

	</main>
</Layout>

<style>
	.contenido {
    	display: grid;
    	gap: 4rem;
	}
	@media (min-width: 768px) {
    	.contenido {
        	grid-template-columns: repeat(2, 1fr);
        	align-items: center;
    	}
	}
</style>