---
import Layout from '../layouts/Layout.astro';

const url = `${import.meta.env.PUBLIC_API_URL}/about/?populate=imagen`
const res = await fetch(url)
const { data } = await res.json()

const { contenido, imagen } = data.attributes
---

<Layout title="Nosotros" description="Tienda de instrumentos musicales, cursos, blog de musica, guitarras">
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>

		<div class="contenido">
			<img src={imagen.data.attributes.url} alt="Imagen de nosotros">

			<div>
				<p class="texto">{contenido}</p>
			</div>
		</div>

	</main>
</Layout>

<style>
	.contenido {
    	display: grid;
    	gap: 4rem;
	}
	@media (min-width: 768px) {
    	.contenido {
        	grid-template-columns: repeat(2, 1fr);
        	align-items: center;
    	}
	}
	.texto {
        white-space: pre-wrap;
    }
</style>